#georgelucas {
    background-image:
    url('../images/georgelucas.jpg');
    background-size:contain;
    background-repeat: no-repeat;
    width:100%;
    margin:0 auto;
    height:400px;
    
}
h1 {
    text-align: center;
    text-emphasis-color: darkgoldenrod;
    word-spacing: inherit;
    font-size: 180px;
    font-family: rockwell;

    
}