h1 {
    text-align: left;
    padding-left: 200px;
    padding-top:200px;
    font-size: 110px;
    font-family: roboto;
    color:#1DA1FF;

}

h2{
  font-family: roboto;
  font-size:50px;
  text-align: left;
    padding-top:0px;
  padding-left: 200px;
  font-style: italic;
  color:#1DA1FF;
  
}

h3 {
    font-family: roboto;
    font-size:80px;
    padding-left:200px;
    color:#FFFFFF;
    text-align:left;
}

h4 {
    font-family: roboto;
    font-size:80px;
    padding-right:200px;
    color:#1DA1FF;
    text-align: right;
    padding-bottom: 0px;

}

section {
    display:block;
}

section1 {
    display:block;
    background-color:#1DA1FF;
    padding-bottom: 300px;
    padding-top:150px;
    
}

section2 {
    display:block;
    padding-bottom: 300px;
    padding-top:25px;
}


.rectangle {
    height=50px;
    width=100px;
    background-color:#1DA1FF;
}
        
p1 {
    font-family: roboto;
    font-size:35px;
    padding-left:200px;
    text-align: left;
    color:#FFFFFF;
    float:left;
}

p2 {
    font-family: roboto;
    font-size:35px;
    padding-right:200px;
    padding-left:800px;
    color: #1DA1FF;
    text-align: right;
    float:right;
}

small {
    font-family: roboto;
    text-align: center;
    color: #FFFFFF;
}

footer {
    text-align:center;
    align-content: center;
    padding-top:50px;
    padding-bottom:30px;
    background-color:#1DA1FF;
}
